# Ignore virtual environments
**/.env
**/__pycache__
.venvs
# Ignore IDE settings (except .vscode if you want to share it)
.vscode/
!.vscode/settings.json

# Ignore macOS system files
.DS_Store

# Ignore data files
b_data/
!data/README.md
# keep a readme on git

# Ignore log files and temp
*.log
*.tmp
*.bak

# Ignore parsed output
**/files_pdf_parsed/
**/files_pdf/*.md
A_pipeline/b_parsing/old_delete
A_pipeline/b_parsing/new/*.jsonl
A_pipeline/b_parsing/*.pdf